
@{
    ViewBag.Title = "500 - Erro no servidor";
}

<div class="container">
    <div class="padding-vertical">
        <div class="row">
            <div class="col-sx-12 col-md-12">
                <h1>Ocorreu um problema</h1>                
                <h4>Se necessário entre em contato com nosso sac ou tente mais tarde.</h4>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-sx-12 col-md-12">
                <a href="~/Home/Index" class="btn btn-custom btn-custom-red">Ir para página principal</a>
            </div>
        </div>
    </div>
</div>

