
@{
    ViewBag.Title = "404 - Página não encontrada";
}

<div class="container">
    <div class="padding-vertical">
        <div class="row">
            <div class="col-sx-12 col-md-12">
                <h1>Página não encontrada</h1>
                <h4>Parece que está página não existe ou seu nome tenha sido alterado.</h4>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-sx-12 col-md-12">
                <a href="~/Home/Index" class="btn btn-custom btn-custom-red">Ir para página principal</a>
            </div>
        </div>
    </div>
</div>

