<div class="row col-md-offset-1 banner">
    <div class="col-sx-12 col-md-12">
        <div class="banner-img">
            <img src="~/Content/images/banner-rodape.jpg" class="img-responsive" alt="Ouro e Prata">
        </div>
        <div class="col-sx-12 col-sm-6 banner-body">
            <p>Confira nossos destinos no site e compre já sua passagem!</p>
            <a class="btn btn-sm btn-default" href="https://e-commerce.passagensweb.net/esipe/Venda/viacaoouroeprata/Default?chave=E0297E" target="_blank" role="button" style="color: #0D5494;">Comprar Passagem</a>
        </div>
    </div>
</div>
