<div class="col-md-3 menu">
    <div class="list-group">
        <a href="@Url.Action("Index", "Painel")" class="list-group-item">Meu painel</a>
        <a href="@Url.Action("Index", "Usuarios")" class="list-group-item">Usuarios</a>
        <a href="@Url.Action("Index", "Trabalho")" class="list-group-item">Trabalhos</a>
    </div>
</div>


