<footer class="footer clearfix">
@*
    <div class="container padding-vertical footerInstitucional">
        <div class="col-xs-8">
            <div>
                <strong>Institucional</strong>
            </div>
            <ul class="list-inline">
                <li><a href="#">Como Funciona</a></li>
                <li><a href="#">Dúvidas Frequentes</a></li>
                <li><a href="#">Regulamento</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="@Url.Action("Index", "Usuarios")">Usuários</a></li>
            </ul>
        </div>
        <div class="col-xs-4">
            <div>
                <strong>Siga-nos</strong>
            </div>
            <ul class="list-inline">
                <li>
                    <a href="https://www.facebook.com/rodosoft/" target="_blank">
                        <img src="~/Content/Images/facebook-4-240.png" width="28" height="28" class="img-responsive" alt="Ouro e Prata">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/rodosoft" target="_blank">
                        <img src="~/Content/Images/youtube-4-240.png" width="28" height="28" class="img-responsive" alt="Ouro e Prata">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="employer">
            <div class="container padding-vertical">
                <div class="col-xs-6 col-md-2">
                    <a href="http://www.rodosoft.com.br/" target="_blank">
                        <img src="~/Content/images/credit-card-nfc-chip-chipset.png" style="width: 100px;" />
                    </a>
                </div>
                <div class="col-xs-6 col-md-2" style="padding-top: 20px">
                    <h5>Rodosoft</h5>
                    <p>Cnpj: 93.113.751/0001-03</p>
                </div>
                <div class="phones">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="container padding-vertical">
        <div class="col-xs-6 text-left all-right">
            <small>© @DateTime.Now.Year - Todos os direitos reservados</small>
        </div>
        <div class="col-xs-6 text-right">
            <a href="http://www.rodosoft.com.br/" target="_blank">
                <img src="~/Content/Images/logo-rodosoft.png" alt="Rodosoft">
            </a>
        </div>
    </div>
</footer>
